#!/usr/bin/env bash

echo "Validating Deno..."
. ./scripts/setup_deno.sh

echo "Installing Dependencies..."
deno install

echo "Reading Environment..."
make env

echo "Compiling Deno Assets"...
make build

echo "Building Docker Images..."
echo "Please run: 'make images' to build the Docker Images"
